.result-item {
  display: flex;
  align-items: flex-start; 
}

.item-image-container {
  flex: 1; 
  position: relative; 
}

.item-image {
  width: 100%; 
  height: auto; 
}

.item-info {
  flex: 1; 
  padding: 20px; 
  box-sizing: border-box; 
}

.badge {
  position: absolute; 
  top: 10%; 
  left: 10px; 
}

p {
  font-family: Montserrat; 
  font-size:  70%;
}

span {
  font-family: Montserrat; 
  font-size:  80%;
}

  .centered-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .result-list {
    width: 100%;
    max-width: 600px; /* Adjust the max-width as per your requirement */
    margin: 0 auto; /* Center the result-list */
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .item-image-container img {
    border-radius: 10%;
    margin-top: 1%;
    max-width: 100%;
    height: auto;
  }